<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnSkippedTests="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <!--
        Адаптеры MySQL и PostgreSQL тестируются на реальных серверах, если заданы DSN:
        DBSIMPLE_TEST_MYSQL=mypdo://user:pass@127.0.0.1/dbsimple_test
        DBSIMPLE_TEST_PGSQL=postgresql://user@127.0.0.1/dbsimple_test
    -->
</phpunit>
